@font-face{font-family:'opensans-semibold';src:url('fonts/opensans-semibold.eot');src:url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),url('fonts/opensans-semibold.woff') format('woff'),url('fonts/opensans-semibold.ttf') format('truetype'),url('fonts/opensans-semibold.svg#opensans-semibold') format('svg');font-weight:normal;font-style:normal}


html,body {
	margin: 0px;
	padding: 0px;
	color: #515151;
	background-color:transparent;
	font-family: Arial, sans-serif;
	font-size: 10px;
	line-height:14px;
	min-height:100%;
	width:100%;
	text-align:center;
}
body{
	height:100%;
}
#top {
	min-height:148px;
	
}
a.logo{
	text-decoration:none;
	display:block;
	margin:10px 0 8px 0;
}
a.logo img{
	border:0;
	margin:0 auto;
}
.topmenu{
	text-align:center;
	display:block;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:180px;
	left:-100%;
	width:100%;
	min-height:100%;
	background-color:#ffffff;
	bottom:0;
}
.topmenu li.close a{
	background-color: #ffffff;
    border: 0 none;
    padding: 15px;
    position: absolute;
    right: 20px;
    top: -160px;
    width: 50px;
	height:auto;
	font-size:1.1em;
	border:1px solid #b4b4b4;
}
a.open{
	position:absolute;
	top:20px;
	right:20px;
	padding:20px;
	display:block;
	text-align:center;
	font-family:'opensans-semibold', Araial, sans-serif;
	font-size:1.1em;
	padding:15px;
	margin:0 0 3px 0;
	//color:#cd2731;
	border:1px solid #b4b4b4;
	line-height:1.2em;
	background-color:#ffffff;
}
.topmenu li{
	display:block;
	text-align:center;
	margin:0;
	padding:0;
}
.topmenu li a{
	display:block;
	text-align:center;
	font-family:'opensans-semibold', Araial, sans-serif;
	font-size:1.7em;
	padding:20px 10%;
	margin:0 0 3px 0;
	color:#515151;
	border: 1px solid #b4b4b4;
	line-height:1.2em;
}
.topmenu li.active > a{
	background-color: #fbfbfb;
    background-image: url("../images/mobile/top_bg.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
	border:0;
}
.topmenu li ul{
	width:95%;
	bottom:0;
	left:0;
	padding:0;
	margin:0 auto;
	list-style:none;
	text-align:left;
	z-index:1;
}
.topmenu li.active ul{
	display:block;
}
.topmenu li ul li{
	display:block;
	margin:0;
	padding:0;
}
.topmenu li ul li a{
	display:block;
	text-align:center;
	font-family:'opensans-semibold', Araial, sans-serif;
	font-size:1.7em;
	padding:20px 10%;
	margin:0 0 3px 0;
	color:#515151;
	border: 1px solid #b4b4b4;
	line-height:1.2em;
	background-image:none;
}
.topmenu li ul li.active a{
	background-color: #fbfbfb;
    background-image: url("../images/mobile/top_bg.jpg");
}

.pageheader{
	display:block;
	text-align:center;
	font-family:'opensans-semibold', Araial, sans-serif;
	font-size:1.7em;
	padding:20px 10%;
	margin:0 0 3px 0;
	line-height:1.2em;
	font-weight:normal;
	background-color: #fbfbfb;
    background-image: url("../images/mobile/top_bg.jpg");
    background-position: center bottom;
    background-repeat: repeat-x;
	border:0;

}


#content{
	margin-top:20px;
	text-align:left;
	
}
#content .inner{
	padding:20px 5%;
}


a { color:inherit; text-decoration: none; }
a:hover {  }
a img { border-style: none; }

form.simple_form{
	margin:0 auto !important;
}

.img_title, .img_title a{ color:#A36125; }
.img_row a { margin: 0 15px 15px 0; display: block; float: left; text-decoration:none; }
.img_row img { border: 1px solid #DDDDDD; padding: 5px; }
.img_row img:hover { border-color: #A36125; }
.gallery { float: left; text-align: center; width: 170px; }

.clear{
    clear:both;
    float:none;
	display:block;
}

.foot{
	color:#201e1e;
	background-image:url(../images/mobile/foot_bg.png);
	background-position:top center;
	background-repeat:repeat-x;
	padding:9px 0 0 0;
}
.foot .inner{
	padding:20px 5%;
}
.foot .left{
	float:left;
	padding:15px 0 15px 0;
}
.foot .right{
	float:right;
	padding:15px 0 15px 0;
}