/*logo w nagłówkach i doczepione do rogu ekranu*/
.logo { color: #91e334; }
.logo > b { color: #6a6a6a; }

/*standardowe boxy, służące do dodawania nowych obiektów*/
.box.add-entity { width: auto; display: inline-block; vertical-align: top; transition: width 400ms ease-out; border: none !important; position: relative; z-index: 1000; }
.add-entity .box-header { display: inline-block; border-radius: 4px 4px 0 0; padding: 7px 12px; cursor: pointer; border-width: 0; }
.add-entity.collapsed-box .box-header { border-radius: 4px; }
.add-entity .box-header .box-tools { top: 2px; }
.add-entity .box-body { width: 450px; position: absolute; top: 34px; left: 0px; transition: width 400ms ease-out; background-color: #FFF; border: 1px solid #3c8dbc; box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3); }
#main-box .add-entity .box-title { margin-right: 30px; font-size: 16px; }
.add-entity .btn-primary { min-width: 150px; }
@media (max-width: 970px) {
	.box.add-entity { width: 100%; max-width: 450px; }
	.box.add-entity.collapsed-box { width: auto; }
	.add-entity .box-body { width: auto; position: static; box-shadow: none; }
}

/*przycisk zapisu formularz edycji, wciągnięty do headera głównego box'a*/
.content > .box .btn-top-right { position: absolute; top: 10px; right: 10px; }

/*główna ścieżka CMS*/
.content-header > .breadcrumb { float: none; position: relative; top: 0; right: 0; font-size: 14px; }
.breadcrumb > li + li::before { color: #a4a4a4; }

/*formularze filtrowania danych*/
.box.filters { border-right: 1px solid #e0e0e0; border-left: 1px solid #e0e0e0; }
.box.filters .box-header { padding: 6px; }
.box.filters .box-body form { width: auto; display: inline-block; }
.box.filters table { position: relative; margin-bottom: 0; }

/*ikonki tooltipów z dodatkowymi opisami pól formularzy*/
.content .info-tooltip { opacity: 0.5; transition: all 300ms; cursor: help; }
.content .info-tooltip:hover { opacity: 1; }
.form-group > .info-tooltip { float: right; }

/*nadpisany styl tooltipów bootstrapa*/
.tooltip .tooltip-inner { font: 500 11.5px 'Roboto'; max-width: 400px; text-align: justify; }

/*prawidłowe wyświetlanie profilera w parze z sidebarem*/
.sidebar-mini #codeigniter_profiler { margin-left: 230px; z-index: 800; }
.sidebar-mini.sidebar-collapse #codeigniter_profiler { margin-left: 50px !important; z-index: 840; }

/*drobne poprawki wyglądu jQuery UI*/
.ui-tabs .ui-tabs-nav li { padding-top: 3px; }
.ui-tabs .ui-tabs-nav li.ui-state-active { padding-top: 0; border-color: #3C8DBC; border-width: 3px 0 0 0; background: #FFF; }
.ui-tabs-active a,
.ui-tabs-active a:link,
.ui-tabs-active a:visited { color: #444; }
.ui-widget button.btn { font-size: 14px; font-family: inherit; }

/*komunikaty akcji wysyłanych AJAXem*/
.ax_msg_wrapper { display: none; padding: 4px; position: fixed; text-align: left; top: 52px; right: 0; z-index: 3000; }
.ax_msg_wrapper .alert { margin: 0; }


.fa-arrows { cursor: move; font-family: 'FontAwesome'; font-size: 16px; margin-right: 4px; }
#tabs li .ui-icon-close { float: left; margin: 0.2em 0.3em 0 0; cursor: pointer; }
.ui-sortable-placeholder { border: 1px dashed #DDE1E5; visibility: visible !important; }
.pagination { margin: 12px 0 5px; font-size: 0.9em; }
table.table + .pagination { margin-top: 0; }

/*okno modalne kadrowania zdjęcia*/
#cropped-img { max-width: 100%; height: auto; }

/*zmiany na formularzach logowania i przypomnianie hasła*/
.login-page .callout { font-size: 0.9em; text-align: center; }

/*tabela tłumaczenia fraz na dodatkowe języki*/
table.translate tr td:first-child { word-break: break-all; }
table.translate textarea { height: 25px; font: normal 1em 'Arial'; }

/*! jQuery Timepicker Addon - v1.6.3 - 2016-04-20
* http://trentrichardson.com/examples/timepicker
* Copyright (c) 2016 Trent Richardson; Licensed MIT */

.ui-timepicker-div .ui-widget-header{margin-bottom:8px}.ui-timepicker-div dl{text-align:left}.ui-timepicker-div dl dt{float:left;clear:left;padding:0 0 0 5px}.ui-timepicker-div dl dd{margin:0 10px 10px 40%}.ui-timepicker-div td{font-size:90%}.ui-tpicker-grid-label{background:0 0;border:0;margin:0;padding:0}.ui-timepicker-div .ui_tpicker_unit_hide{display:none}.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input{background:0 0;color:inherit;border:0;outline:0;border-bottom:solid 1px #555;width:95%}.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus{border-bottom-color:#aaa}.ui-timepicker-rtl{direction:rtl}.ui-timepicker-rtl dl{text-align:right;padding:0 5px 0 0}.ui-timepicker-rtl dl dt{float:right;clear:right}.ui-timepicker-rtl dl dd{margin:0 40% 10px 10px}.ui-timepicker-div.ui-timepicker-oneLine{padding-right:2px}.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,.ui-timepicker-div.ui-timepicker-oneLine dt{display:none}.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label{display:block;padding-top:2px}.ui-timepicker-div.ui-timepicker-oneLine dl{text-align:right}.ui-timepicker-div.ui-timepicker-oneLine dl dd,.ui-timepicker-div.ui-timepicker-oneLine dl dd>div{display:inline-block;margin:0}.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before{content:':';display:inline-block}.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before{content:'.';display:inline-block}.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{display:none}

/*Loading plugin for jQuery (isloading.js)*/
.isloading-overlay { position: relative; text-align: center; }
.isloading-overlay .isloading-wrapper { color: #FFF; text-shadow: 0 0 12px rgba(0,0,0,0.2); display: inline-block; margin: 0 auto; top: 10%; z-index: 9000; }

/*********** stare style, najlepiej jeśli zostaną nadpisane, albo przynajmniej pojedynczo sprawdzone */

	.content .lang_menu { height: 20px; margin: 0; padding: 0 10px; list-style: none outside none; }
		.content .lang_menu li { margin: 0 8px 0 0; display: block; float: left; }
		.content .lang_menu li a { display: block; float: left; padding: 4px; border: 1px solid #DDD; border-radius: 2px; background-color: #F6F6F6; }
		.content .lang_menu li a:hover { border-color: #FFDB53; }
		.content .lang_menu li.active a { border-color: #FFDB53; background: url("../img/bg.png"); }
	.content .lang_box { display: none; }
	.content .lang_box.active { display: block; }
		.content .c1of2 .lang_box textarea { width: 215px; height: 100px; font-family: Arial, Helvetica, sans-serif; font-size: 1em; line-height: normal; }

	table .pos_arrow { width: 22px; height: 11px; display: block; margin: 0 auto; background: url('../img/arrows_td.png') no-repeat; }
	table .pos_arrow.up { margin-bottom: 3px; }
	table .pos_arrow.down { background-position: 0 -11px; }
	table .pos_arrow.up:hover { background-position: -22px 0; }
	table .pos_arrow.down:hover { background-position: -22px -11px; }

	.content.fixed_size { overflow: auto; }

	table.search { width: auto; margin-bottom: 20px; border-right: 1px solid #E0E0E0; position: relative; z-index: 10; }
		table.search td { padding: 2px 5px; line-height: normal; }
			table.search td input[type="text"] { width: 160px; padding: 3px; margin: 0 auto; display: block; font-size: 11px; }
			table.search td input.datepicker,
			table.search td input.timepicker { text-align: center; }
			table.search td select { width: 168px; padding: 3px; }

	table.styled { border-top: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0; }
		table.styled td { padding: 4px; }
		table.styled > tbody > tr:hover { box-shadow: 0px 0px 10px #AAA; background-color: #FAF4D0; }
		table.styled tbody tr.spacer:hover { box-shadow: none; background-color: #DDD !important; }
			table.styled > tbody > tr.line > td { border-bottom: 4px solid #DDD; }
			table.styled tbody tr.spacer td { background-color: #DDD !important; height: 8px; padding: 0; }
			table.styled > tbody > tr:hover > td { background-color: transparent !important; }
			table.styled > tbody > tr:nth-child(even) > td { background-color: #f5f8f9; }
			table.styled tbody tr.noact td { color: #999; }
			table.styled td .rel { position: relative; }
		table.styled tbody a.button { padding: 5px; font-size: 10px; }
		
	.choice p { margin-bottom: 0; }
	.choice label { display: inline; }
	.ch_hidden,
	.choice .hidden { display: none; padding-top: 10px; }
	.ch_hidden { padding: 5px 0; border-top: 1px solid #E0E0E0; }
	.ch_hidden p { margin: 3px 0; }


/* pola przełączane globalnie pola językowe */
.lang-fields { position: relative; }
.lang-fields .nav-tabs { margin-bottom: -1px; }
.lang-fields.lf-text .nav-tabs,
.lang-fields.lf-select .nav-tabs { position: absolute; bottom: 1px; left: 1px; z-index: 1; border: none; background-color: #FFF; border-radius: 4px; border-right: 1px solid #ddd; margin-bottom: 0px; }
.lang-fields.lf-text .nav-tabs:hover,
.lang-fields.lf-select .nav-tabs:hover { box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.46); }
.lang-fields.lf-text .nav-tabs > li,
.lang-fields.lf-select .nav-tabs > li { display: none; margin: 0; float: none; }
.lang-fields.lf-text .nav-tabs > li.active,
.lang-fields.lf-text .nav-tabs:hover > li,
.lang-fields.lf-select .nav-tabs > li.active,
.lang-fields.lf-select .nav-tabs:hover > li { display: inline-block; }
.lang-fields.lf-text .nav-tabs > li > a,
.lang-fields.lf-select .nav-tabs > li > a { border: none; padding: 0; text-align: center; width: 40px; height: 32px; line-height: 32px; }
.lang-fields .nav-tabs > li > a { padding: 1px 13px 2px; border-bottom: 3px solid transparent; }
.lang-fields .nav-tabs > li:hover > a { border-bottom: 3px solid #3c8dbc; }
.lang-fields.lf-text .tab-content input { padding-left: 52px; }
.lang-fields.lf-select .tab-content select { padding-left: 52px; }

.lang-switcher { position: absolute; top: 4px; right: 200px; }
.lang-switcher ul { padding: 0; margin: 0 0 0 10px; display: inline-block; vertical-align: middle; }
.lang-switcher ul li { list-style: none; display: inline-block; padding: 9px 14px 7px; cursor: pointer; border: 1px solid #c5c5c5; border-width: 1px 1px 0; }
.lang-switcher ul li.active { padding-top: 7px; border-top: 3px solid #3C8DBC; }



