form.simple_form { width: 280px; margin: 10px 5px; display: block; font-size: 1em; }
	form.simple_form  p { margin: 6px 0px; font-size: 1.1em; }
	
	form.simple_form input, 
	form.simple_form textarea { width: 97%; display: block; margin: 6px 0px; padding: 3px 4px; color: #646464; border: 1px solid #8F8F8F; background-color: #FFF; }
	form.simple_form input[type="checkbox"] { width: auto; margin: 2px 8px; float: left; }
	form.simple_form input:hover, 
	form.simple_form textarea:hover { border: 1px solid #4F4F4F; }
	form.simple_form input:focus, 
	form.simple_form textarea:focus { color: #2B2B2B; border: 1px solid #4F4F4F; }
	form.simple_form textarea { height: 170px; font-size: 1em; }
	
	form.simple_form .cf_captcha_code { width: 120px; height: 34px; text-align: center; float: right; }
	form.simple_form .cf_captcha_code:focus { font-size: 1.25em; font-weight: bold; }
	form.simple_form .cf_captcha_img { margin: 6px 0px; display: block; float: left; }
	
	form.simple_form input[type="submit"] { width: 144px; margin: 6px auto; clear: both; background-color: #E0E0E0; }
	
.cms_msg { padding:8px; font-size: 1em; position: relative; }
.cms_msg.error { background-color: #fbe3e4; border: 1px solid #FBC2C4; color:#af0006; }
.cms_msg.warning { background-color: #fff6bf; border: 1px solid #ffd324; color:#5f522b; }
.cms_msg.accept { background-color: #e6efc2; border: 1px solid #c6d880; color:#4e6100; }
.cms_msg.tip { background-color: #c1def4; border: 1px solid #6bacde; color:#39388f; }

.img_row a { margin: 5px; display: block; float: left; }
.img_row img { border: 1px solid #DDDDDD; padding: 5px; }
.img_row img:hover {border-color: #AAC43E; }

#cookie-alert{
	z-index:900;
    position:fixed;
    width: 100%;
    right: 0;
    bottom: 0;
	-webkit-box-shadow:0 0 10px 0 rgba(0,0,0,1);
	-moz-box-shadow:0 0 10px 0 rgba(0,0,0,1);
	box-shadow:0 0 10px 0 rgba(0,0,0,1);
	background: none #4a4545;
	color: #fff;
	font-size: 14px;
	padding: 6px 0;
	text-align: center;
}
#cookie-alert > p {
    margin: 0;
}

#cookie-alert a {
    text-decoration: underline;
}